{% extends 'base.html' %}

{% block title %}
    Items
{% endblock title %}
{% block content %}
<div class="container text-center mb-3">
    <h1 class="display-6">Item Details</h1>
</div>
<div class="container">

<table border="2px" class="table table-hover">
    <thead>
        <tr>
            <th>Item Name</th>
            <td>{{ item.name }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Price per item</th>
            <td>₹  {{ item.price }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ item.quantity }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td><a href="/type/{{ item.item_type.id }}">
                    {{ item.item_type }}
                    </a></td>
                    </tr>
                        <tr>
                            <th>Total Price</th>
                            <td>₹  {{ total_amt }}</td>
                        </tr>
    </tbody>
</table>

</div>
{% if item.quantity %}
<form method="post" class="container m-auto text-center">
    {% csrf_token %}
    <input type="text" name="id" value="{{ item.id}}" hidden>
    <input type="number" name="items" max="{{ item.quantity }}" min="1" style="border-radius: 4px;" placeholder="qty" required>
    <button type="submit" class="btn" title="buy"><img width="28" height="28" src="https://img.icons8.com/fluency/48/buy.png" alt="buy"/></button>
</form>

{% else %}
<div class="alert alert-danger text-center" role="alert">
    <strong>{{ item.name }}</strong> is currently out of stock
  </div>
  
  <form method="post" class="container m-auto text-center">
    {% csrf_token %}
    <input type="text" name="id" value="{{ item.id}}" hidden>
    <input type="number" name="items" value="1" hidden>
    <strong>{{ item.name }}</strong> is out of stock! to remove it click on this button
    <button type="submit" class="btn" title="delete"><img width="28" height="28" src="https://img.icons8.com/fluency/48/delete-trash.png" alt="delete"/></button>
</form>
{% endif %}
    

{% endblock content %}