{% extends 'base.html' %}
{% block title %}
    Avaliable Stocks
{% endblock title %}


{% block content %}
<div class="d-flex justify-content-center">
    <form method="post" class="form-inline">
        {% csrf_token %}
        <button type="submit" title = "sort" class="btn"><img width="24" height="24" src="https://img.icons8.com/fluency/48/high-indicator-filter.png" alt="sort button"/></button>
    </form>
    
        <h1 class="display-6" style="margin: 0 auto;">
            Avaliable Items
        </h1>
</div>
    <table border="2px" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Item name</th>
                <th>Item Type</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr onclick="redirect('{{ row.id }}')">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.item_type }}</td>
                    <td>₹ {{ row.price }}</td>
                    <td class="quantity">{{ row.quantity }}</td>
                </tr>
            {% endfor %}
           
        </tbody>
    </table>
    <script>
        function redirect(id){
            window.location.href = `/item/${id}`;
        }
        const data = [...document.getElementsByClassName('quantity')];
        data.forEach((element) => {
            const qty = parseInt(element.innerText);
            if (qty<=5){
                element.style.background = 'red';
            }
            else if(qty<=10){
                element.style.background = 'grey';
            }
            else{
                element.style.background = 'green';
            }
        });

    </script>
{% endblock content %}