{% extends 'base.html' %}

{% block title %}
    Sugessions
{% endblock title %}
{% block content %}
    
<h1>Items</h1>
    <table border="2px" class="table table-hover">
        <thead>
            <th>Item Name</th>
            <th>Item Type</th>
            <th>Qty</th>
        </thead>
        <tbody>
            {% for item in items %}
            <tr onclick = 'redirectTo("/item/{{ item.id }}")'>
                <td>{{ item.name }}</td>
                <td>{{ item.item_type }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Type</h1>
    <table border="2px" class="table table-hover">
        <thead>
            <th>Type Name</th>
            <th>Qty</th>
        </thead>
        <tbody>
            {% for type in types %}
            <tr onclick = 'redirectTo("/type/{{ type.item_type.id }}")'>
                <td>{{ type.item_type }}</td>
                <td>{{ type.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function redirectTo(route){
            window.location.href = route;
        }
    </script>

{% endblock content %}